/* reset */

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/* style */

body {
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 213px;
}
.group1{
    display: flex;
    margin: 24px 0px;
}
.group2{
    display: flex;
    margin: 24px 0px;
}
.group3{
    display: flex;
    margin: 24px 0px;
}

.group1 h3{
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    color:#4EB883;
}
.group1 p{
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    font-weight: 200px;
    color:#2F2E41
}
.group1 img{
    max-width:calc(336px/2);
    max-height:calc(460px/2);
    border-radius: 16px;
}

.group2 h3{
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    color:#4EB883;
}
.group2 p{
    font-style: normal;
    font-size: 24px;
    font-weight: 200px;
    line-height: 29px;
    color:#2F2E41
}
.group2 img{
    max-width: calc(336px/2);
    max-height: calc(336px/2);
    border-radius: 16px;
}
.group2 .pict{
    order:2;
}

.group3 h3{
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    color:#4EB883;
}
.group3 p{
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    font-weight: 200px;
    color:#2F2E41
}
.group3 img{
    max-width: calc(453px/2);
    max-height: calc(453px/2);
    border-radius: 16px;
}
.group4 h3{
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    color:#4EB883;
}
.group4{
    text-align: center;
}
.group4 h3{
    font-style: normal;
    font-size: 48px;
    font-weight: 800;
    color:#4EB883
}
.group4 img{
    width: 237px;
    height: 237px;
    border-radius: 16px;
}
.group4 span{
    color:#EC9A29
}
.section-title{
    border-bottom:4px solid #EC9A29;
    width:fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* .group4{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.group4 li{
    flex:auto;
    width: 30%;
} */
.group4 .gallery img{
    margin: 5px;
}
.main .group1 .text{
    margin-left: 24px;
}
.main .group2 .text{
    margin-right: 24px;
    order: 1;
}
.main .group3 .text{
    margin-left: 24px;
}

.header {
    overflow: hidden;
    background-color: #b5f1cc;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
}

.header a.logo {
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
}

.header a:hover {
    background-color: #e5fdd1;
    color: black;
}

.header a:active {
    background-color: #c9f4aa;
    color: black;
}

.header-right {
    float: right;
    margin-right:20px;
}

.content .container h3 {
    font-size: calc(2rem * 1.618);
    margin: 1rem;
    width: 100%;
    text-align: center;
}

.content h3 span {
    font-weight: 400;
}

.content .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.content .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 70vw;
    max-width: 350px;
    margin: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: #f8f8f6;
    box-sizing: border-box;
    box-shadow: 0 0 10px 2px #d2d2d2;
}

.content .container .card:hover {
    transform: scale(1.1, 1.1);
}

.content .container a:active {
    transform: scale(0.9, 0.9);
}

.content .container .background-card {
    width: 70vmin;
    height: calc((70vmin * 40) / 60);
    max-width: 350px;
    max-height: calc(400px / (12/7));
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.content .container .sate.background-card {
    background-image: url("./assets/sate-ayam.jpg");
    margin-bottom: 1rem;
}

.content .container .nasgor.background-card {
    background-image: url("./assets/nasi-goreng-telor.jpg");
    margin-bottom: 1rem;
}

.content .container .rames.background-card {
    background-image: url("./assets/nasi-rames.jpg");
    margin-bottom: 1rem;
}

.content .container h4 {
    font-size: 1.618rem;
}

.content .container h4,p {
    align-self: flex-start;
    padding: calc(1rem / 1.618) 1rem;
}

.content .container a span {
    font-size: 0.85rem;
}

.content .container a {
    align-self: flex-start;
    margin: calc(1rem / 1.618) 1rem 1rem;
    padding: calc(1rem / 1.618);
    border-radius: 0.5rem;
    background-color: #00c077;
    text-decoration: none;
    color: white;
}